#site-wrapper{
	max-width: 1100px;
	margin: auto;
}
#title{
	border-bottom: 1px solid black;
	font-size: 30px;
	font-weight: bold;
	padding: 10px 0px 10px;
}

#header-wrapper{
	width: 100%;
	padding: 10px 0px;
	overflow: hidden;
	border-bottom: 1px solid black;
}
#header-wrapper img{
	max-width: 150px;
}
#logo-wrapper{
	float: left;
	width: 20%;
}
#searchbar-wrapper{
	/*float: left;*/
	float: left;
    overflow: hidden;
    margin: 50px 7.5% 0px;
    width: 35%;
}

#search{
	margin-bottom: 5px;
}

#search input{
	width: 215px;
}
#search-nav{
	max-width: 500px;
	margin: auto;
	font-weight: bold;
	padding: 0px;
	font-size: 14px;
	float: left;
}
#search-nav ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#search-nav ul li{
	float: left;
	padding: 0px 15px;
	text-decoration: underline;

}

#search-nav ul li.active{
	text-decoration: none;
	color: gray;

}	
#search-nav ul li:nth-child(2){
	border-left: 1px black solid;
	border-right: 1px black solid;
}
#account-wrapper{
	float: right;
	overflow: hidden;
}

#account-wrapper h4{
	text-align: right;
	padding: 14px;
	margin-top: 35px;
}
#account-nav{
	max-width: 500px;
	margin: auto;
	font-weight: bold;
	padding: 0px;
	font-size: 14px;
	float: left;

}
#account-nav ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#account-nav ul li{
	float: left;
	padding: 0px 15px;
}
#account-wrapper .blue{
	color: blue;

}

#middle-wrapper{
	width: 100%;
	overflow: hidden;
}

#featured-wrapper{
	width: 70%;
	float: left;
	overflow: hidden;
	border: 2px solid black;
	margin-top: 20px;
	background-color: #aaa;
}

#featured-wrapper h3{
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: 5px;
}

#featured-wrapper .featured-video{
	width: 60%;
	height: 300px;
	background-color: #ccc; 
	float: left;
	margin: 0 0 5px 5px;
	border: 1px black solid;
}

.additional-videos{
	width: 35%;
	float: right;
}

.additional-videos .video-block{
	width: 98%;
	margin: 0% 1%;
	overflow: hidden;
}

.additional-videos .video-block:nth-child(2){
	margin: 15px 0px;
}


#ad-wrapper{
	width: 25%;
	float: right;
	margin-top: 20px;
}

#ad-wrapper .ad-image{
	width: 251px;
	height: 264px;
	background: blue;
	border: 1px solid black;
}

#ad-wrapper .ad-image img{
	max-width: 100%;
	max-height: 100%;
}


.video-block{
	position: relative;
	overflow: hidden;

}

#bottom-wrapper .video-block{
	width: 24%;
	float: left;
}

#bottom-wrapper .video-block img{
	width: 100%;
	padding: 2px;
	border: 1px solid black;
}

.video-block .block-description .vid-title{
	font-weight: bold;
}

.video-block .block-video{
	width: 45%;
	float: left;
	position: relative;
}

.video-block .block-video .vid-length{
	position: absolute;
	bottom: 7px;
	right: 1px;
	background-color: black;
	opacity: .5;
	color: white;
	padding: 1px 2px;
	font-size: 12px;
}

.video-block .block-description{
	float: right;
	font-size: 13px;
	width: 50%;
}

#bottom-wrapper{
	background-color: #ccc;
	overflow: hidden;
	margin-top: 20px;
	border: 1px solid black;
}

.legal-notice{
	font-size: 13px;
	margin-top: 3px;
	font-weight: bold;
}